{% extends "base.html.twig" %}

{% block title %}Edit Article{% endblock %}

{% block body %}

    <h1>: : Edit</h1>
    <hr class="mb-5">
 
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
{% endblock %}