{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <h1>: : Index</h1>
    <hr class="mb-5">

    {% if articles %}
    <table id="articles-table">
        {% for article in articles %}
            <tr class="shadow">
                <td class="px-5">
                    <h5>{{ article.title }}</h5>  
                </td>
                <td class="px-5">
                    <a href="article/{{ article.id }}" class="btn btn-dark">Show</a>    
                    <a href="article/edit/{{ article.id }}" class="btn btn-light">Edit</a>    
                    <a href="" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>    
                    <hr>    
                </td>
            </tr>
        {% endfor %}
    </table>

    {% else %}
        <p>No articles to display</p>   
    {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js" defer></script>
{% endblock %}
