{% extends "base.html.twig" %}

{% block title %}Show{% endblock %}

{% block body %}

  <h1>: : Show</h1>
  <hr class="mb-5">
 
  <h3>{{ article.title }}</h3>   
  <p>{{ article.body }}</p>  
  <hr>    
  <a href="/">Go back</a>    
{% endblock %}